<center>
  <h1>Contacts Page</h1>

<%= button_to "Add Contacts",new_contact_path ,data:{ toggle: "modal", target:"#ajax-modal" } %>
<table style="width:70%" >
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  <% @contacts.each do |contact|%>
  <tr>
    <td><%=contact.full_name %></td>
    <td><%= link_to "Show" , contact_path(contact)%>
    <%= link_to "Edit" , edit_contact_path(contact)%>
    <%= link_to "Delete" , contact_path(contact)%></td>
  </tr>
  <% end %>
</table>
</center>

<%= render 'layouts/modal' %>
