<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">View Details of <%= @contact.full_name %></h4>
      </div>
      <div class="modal-body">
        <h3>Personal Details </h3>
        <ul>
          <li><%= @contact.personal_detail.address %></li>
          <li><%= @contact.personal_detail.email %></li>
          <li><%= @contact.personal_detail.website %></li>
          <li><%= @contact.personal_detail.phones.first.cell_phone %></li>
          <li><%= @contact.personal_detail.phones.first.landline %></li>
        </ul>
        <h3>Office Details </h3>
        <ul>
          <li><%= @contact.office_detail.office_name %></li>
          <li><%= @contact.office_detail.office_address %></li>
          <li><%= @contact.office_detail.office_email %></li>
          <li><%= @contact.office_detail.office_website %></li>
          <li><%= @contact.office_detail.phones.first.cell_phone %></li>
          <li><%= @contact.office_detail.phones.first.landline %></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>