<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Contact</h4>
      </div>
      <div class="modal-body">
        <%= form_for :contact, :url => contacts_path do |form| %>
          First Name: <%= form.text_field :first_name %>
          Last Name : <%= form.text_field :last_name %><br />

          <%= form.fields_for :personal_detail do |personal|%>
            Address: <%= personal.text_field :address %><br/>
            Email : <%= personal.text_field :email %><br/>
            Website : <%= personal.text_field :website %><br />
          <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= form.submit "Submit" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

